<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="ADMIN/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
</head>
<body>
<section>
    <!--    THIS SECTION IS IMP-->
 <div class="card">
     <div class="card-body">
         <h1 class="text-center"> ADD STAFF</h1>

         <div class="container-fluid mt-1">
             <div class="row">
                 <div class="offset-md-1 col-md-10">
                     <form action="#"
                         th:object="${stafff}"
                           enctype="multipart/form-data"
                           method="POST"
                           th:action="@{'/admin/process-staff/'+${staff.name}}"
                           class="mt-2"
                     >

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text mr-3">

                                </div>
                            </div>
                            <input type="text" name="name" id="name" placeholder="ENTER NAME" class="form-control"/>
                        </div>

                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <div class="input-group-text mr-3">

                                 </div>
                             </div>
                             <input type="text" name="DOB" id="DOB" placeholder="ENTER DOB" class="form-control"/>
                         </div>


                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <div class="input-group-text mr-3">

                                 </div>
                             </div>
                             <input type="text" name="department" id="department" placeholder="ENTER DEPARTMENT" class="form-control"/>
                         </div>


                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <div class="input-group-text mr-3">

                                 </div>
                             </div>
                             <input type="text" name="designation" id="designation" placeholder="ENTER DESIGNATION" class="form-control"/>
                         </div>


                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <div class="input-group-text mr-3">

                                 </div>
                             </div>
                             <input type="text" name="salary" id="salary" placeholder="ENTER SALARY" class="form-control"/>
                         </div>

                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <div class="input-group-text mr-3">

                                 </div>
                             </div>
                             <input type="text" name="mobileno" id="mobileno" placeholder="ENTER MOBILE NUMBER" class="form-control"/>
                         </div>

 <div class="container">
     <button>SAVE STAFF</button>
 </div>


                     </form>
                 </div>
             </div>
         </div>
     </div>
 </div>



</section>

</body>
</html>