<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="ADMIN/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
</head>
<body>
<section>
<!--    THIS SECTION IS IMP-->
    <div class="container">
        <div class="card">
            <div class="card-body">

                <img src="https://i.pinimg.com/originals/50/18/58/50185886dd0bfd2c8fc231044423e30f.gif"
                     style="height:100%;width:100%;object-fit: cover" alt="Welcome to STAFF DASHBOARD"/>

            </div>
        </div>
    </div>


</section>

</body>
</html>