<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="DOCTOR/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
</head>
<body>
<section>
    <!--    THIS SECTION IS IMP-->
 <div class="card">
     <div class="card-body">
         <h1 class="text-center"> ADD PATIENT</h1>

         <div class="container-fluid mt-1">
             <div class="row">
                 <div class="offset-md-1 col-md-10">
                     <form action="#"
                         th:object="${patient}"
                           enctype="multipart/form-data"
                           method="POST"
                           th:action="@{'/staff/process-patient/'+${staff.name}}"
                           class="mt-2"
                     >

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text mr-3">

                                </div>
                            </div>
                            <input type="text" name="name" required id="name" placeholder="ENTER NAME" class="form-control"/>
                        </div>

                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <div class="input-group-text mr-3">

                                 </div>
                             </div>
                             <input type="text" name="DOB" required id="DOB" placeholder="ENTER DOB" class="form-control"/>
                         </div>


                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <div class="input-group-text mr-3">

                                 </div>
                             </div>
                             <input type="text" name="gender" required id="gender" placeholder="ENTER GENDER" class="form-control"/>
                         </div>


                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <div class="input-group-text mr-3">

                                 </div>
                             </div>
                             <input type="text" name="bloodgroup" required id="bloodgroup" placeholder="ENTER BLOODGROUP" class="form-control"/>
                         </div>


                         <div class="input-group">
                             <div class="input-group-prepend">
                                 <div class="input-group-text mr-3">

                                 </div>
                             </div>
                             <input type="text" name="mobileNo" required id="mobileNo" placeholder="ENTER MOBILE NUMBER" class="form-control"/>
                         </div>

 <div class="container">
     <button>SAVE PATIENT</button>
 </div>


                     </form>
                 </div>
             </div>
         </div>
     </div>
 </div>



</section>

</body>
</html>